@import "settings";
@import "../../bower_components/foundation/scss/foundation";
@import "reset";
@import "colors";
@import "palette";


// app specific styles here

// typography
.body {
  font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-style: $header-font-style;
  line-height: $header-line-height;
  margin-top: $header-top-margin;
  margin-bottom: $header-bottom-margin;
  text-rendering: $header-text-rendering;
}

h1 {
  font-size: $h1-font-size;
  font-family: $header-font-family;
}

h2 {
  font-size: $h2-font-size;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
}

h3 {
  font-size: $h3-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
  line-height: $paragraph-line-height;
  margin-top: $paragraph-margin-bottom;
  margin-bottom: $paragraph-margin-bottom;
  text-rendering: $paragraph-text-rendering;
}

// SHARED LEFT PADDING
$main-title-padding: 0.25em;

// THE TITLE
$main-padding-left: 0.75em;

// PADDING FOT THE NAV ITEMs
$nav-anchor-padding: 0.5em;
$nav-margin: 1.50em;
$nav-width: 250px;

.main-title {
  background-color: $red;
  color: $white;
  padding-left: $main-padding-left;
  padding-top: $main-title-padding;
  padding-bottom: $main-title-padding;
}

// NAV
// see 26. Side Nav
.sidebar-nav {
  padding: 0; //$side-nav-padding;
  border: solid 1px $black;
  margin-left: $nav-margin;
  width: $nav-width;
  float: left;
}

// LINKS AND ANCHORS
li {
  list-style-type: $side-nav-list-type;
  position: $side-nav-list-position;
  margin: 0;
  font-family: $font-family-sans-serif-nav;

  border: solid 1px $black;
}

a {
  line-height: 2.25em;
  margin-left: 0.5em;
  font-size: $list-font-size;
  color: $jet;
}

a:hover, a:focus {
  color: $jet;
  text-decoration: none;
}
a img {
  border: none; }

//EMPLOYEE

$employee-padding: 15px;

$employee-margin: 15px;

.employee {
  float: right;

  padding-left: $employee-padding;
  padding-right: $employee-padding;
  padding-bottom: $employee-padding;
  margin-left: $employee-margin;
  margin-right: $employee-margin;

  border: solid 2px $green;
  background-color: $lightGrey;
  width: calc(100% - (#{$nav-margin} + #{$nav-width}) - #{$employee-margin} * 2);
  //height: 300px;

  border-radius: 10px;
}

div.inline { float:left; }
.clearBoth { clear:both; }