@import "settings";
@import "../../bower_components/foundation/scss/foundation";
@import "reset";
@import "colors";
@import "palette";


// app specific styles here

// - - - - - - - - - - - - - - - - - - - - - - - - -
// typography
.body {
  font-family: $body-font-family;
  color: $primary-color-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-style: $header-font-style;
  line-height: $header-line-height;
  margin-top: $header-top-margin;
  margin-bottom: $header-bottom-margin;
  text-rendering: $header-text-rendering;
}

h1 {
  font-size: calc(#{$h1-font-size} * 1.5);
  font-family: $header-font-family;
  letter-spacing: 1px;
  font-weight: bolder;
}

h2 {
  font-size: $h2-font-size;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
}

h3 {
  font-size: $h3-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  font-family: $paragraph-font-family;
  font-weight: $paragraph-font-weight;
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-top: $paragraph-margin-bottom;
  margin-bottom: $paragraph-margin-bottom;
  text-rendering: $paragraph-text-rendering;
}

// SHARED LEFT PADDING
$main-title-padding: 0; //0.25em;

// SHARED MARGIN
$employee-element-padding: 1.50em;


// - - - - - - - - - - - - - - - - - - - - - - - - -
// THE TITLE
$main-padding-left: 0.75em;


.main-title {
  background-color: $red;
  color: $white;
  padding-left: $main-padding-left;
  padding-top: $main-title-padding;
  padding-bottom: $main-title-padding;
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// NAVIGATION
// see 26. Side Nav
$nav-anchor-padding: 0.5em;
$nav-margin: 1.50em;
$nav-width: 250px;

.sidebar-nav {
  padding: 0; //$side-nav-padding;
  margin-top: $employee-element-padding;
  border: solid 1px $black;
  margin-left: $nav-margin;
  width: $nav-width;
  float: left;
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// LINKS AND ANCHORS
li {
  list-style-type: $side-nav-list-type;
  position: $side-nav-list-position;
  margin: 0;
  font-family: $font-family-sans-serif-nav;

  border: solid 1px $black;
}

a {
  display: block;
  line-height: 2.25em;
  padding-left: 0.5em;
  font-size: $list-font-size;
  color: $jet;
  width: 100%;
}

/* selected link */

.active {
  background-color: $jet;
  a {
    color: $white;
  }
}

// for a employee who is a former colleague
.member {
  background-color: $accent-color;
}

a:hover, a:focus {
  color: $red; //$accent-color;
  text-decoration: none;
}
a img {
  border: none; }

// - - - - - - - - - - - - - - - - - - - - - - - - -

//EMPLOYEE

// declare some shared variables first
$employee-padding: 2.0em;//1.50em;

$employee-margin: 1.75em;
$image-dimension: 280px;
$employee-max-width: 400px;

.employee {
  float: left;
  padding: $employee-padding;

  margin-top: $employee-element-padding;
  margin-left: $employee-margin;
  margin-right: $employee-margin;

//  border: solid 2px $green;
  background-color: $lightGrey;
  width: calc(100% - (#{$nav-margin} + #{$nav-width}) - #{$employee-margin} * 2);
  max-width: 1000px;

  border-radius: 10px;
}
.employee-name {
  float: left;
  margin-left: $employee-margin;
  width: calc(100% - (#{$image-dimension} + #{$employee-margin}));
  max-width: $employee-max-width; // used to break the text
}


$employee-name-ratio: 2.60;
$employee-line-height-ratio: calc(#{$employee-name-ratio} * 0.25);

.employee-name h2{
  margin-top: -0.25em;
  font-size: calc( #{$h2-font-size} * #{$employee-name-ratio});
  line-height: calc( #{$h2-font-size} * #{$employee-line-height-ratio});
//  border: 1px solid $red;
  padding: 0;
}


.employee-image {
  float: left;
  width: $image-dimension;
  height: $image-dimension;

}
// - - - - - - - - - - - - - - - - - - - - - - - - -

// general styles
div.inline { float:left; }

.clearBoth { clear:both; }